  <div class="side_bar_header">
    <div class="name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="create">
    <a href="#">チャットを作成する</a>
    </div>
  </div>    

  <div class="side_bar_main">
    <div class="main-room">
      <div class="room">
        <a href="#">room01</a>
      </div>
    </div>
    <div class="main-room">
      <div class="room">
        <a href="#">room02</a>
      </div>     
    </div>
  </div>    
